
<view class="h80 pt10 pb10 fz14 bgcWhite dfx-row ai-c">
	<view class="dfx-row hdr-item w100p">
		<view class="fx-1 ta-c pt8 pb8">我的好友</view>
		<view class="fx-1 ta-c pt8 pb8 bl19">获取时间</view>
	</view>
</view>


<view class="mt10 bgcWhite fz13">
	<view class="h100 dfx-row bdb1 status-agent">
		<view class="fx-1 dfx-row w50p ai-c pl30">
			<image mode="widthFix" class="img-avatar" src="../../images/fans_num/img-avatar.jpg"></image>
			<view class="ml20 whs-nw ox-h tov-e w240">
				购买商品  
				<text class="fz10">(小黄伞代言人)</text>
			</view>
		</view>
		<div class="fx-1 dfx-row ai-c jc-c">2017.08.29</div>
	</view>
	<view class="h100 dfx-row bdb1 ">
		<view class="fx-1 dfx-row w50p ai-c pl30">
			<image mode="widthFix" class="img-avatar" src="../../images/fans_num/img-avatar.jpg"></image>
			<view class="ml20 whs-nw ox-h tov-e w240">
				购买商品购买商品购买商品购买商品购买商品购买商品购买商品购买商品  
				<text class="fz10">(小黄伞代言人)</text>
			</view>
		</view>
		<view class="fx-1 dfx-row ai-c jc-c">2017.08.29</view>
	</view>
</view>