
<view class='wrapper'>
	<view class="ul">
		<view class="li">
			<view class="title">Q1:什么是优惠券？</view>
			<view class="content">
				优惠券是阿里汽车服务发放给用户的，用户在购买商品或服务并
				在线支付时，在汽车使用规则适用范围内可抵扣相应券面额的订
				单金额。
			</view>
		</view>
		<view class="li">
			<view class="title">Q1:什么是优惠券？</view>
			<view class="content">
				优惠券是阿里汽车服务发放给用户的，用户在购买商品或服务并
				在线支付时，在汽车使用规则适用范围内可抵扣相应券面额的订
				单金额。
			</view>
		</view>
		<view class="li">
			<view class="title">Q1:什么是优惠券？</view>
			<view class="content">
				优惠券是阿里汽车服务发放给用户的，用户在购买商品或服务并
				在线支付时，在汽车使用规则适用范围内可抵扣相应券面额的订
				单金额。
			</view>
		</view>
		<view class="li">
			<view class="title">Q1:什么是优惠券？</view>
			<view class="content">
				优惠券是阿里汽车服务发放给用户的，用户在购买商品或服务并
				在线支付时，在汽车使用规则适用范围内可抵扣相应券面额的订
				单金额。
			</view>
		</view>
	</view>
</view>

<view class="desc-img-wrapper">
	
</view>