<view class="btn-add">
    <image class="icon-add" mode="widthFix" src="../../images/addressList/icon-add.png" />
    <text>新增收获地址</text>
</view>
<view class="ul">
    <view class="li">
        <view class='info-wrap'>
            <view class="own">
                <text class="name">代淼淼</text>
                <text class="phone">18572766668</text>
            </view>
            <view class="address">
                火星CHINA-A内仓129楼32层
            </view>
            <text class="des-line"></text>
        </view>
        <view class='modify-line'>
            <view>
                <text class='hide'>设为默认</text>
                <text class='default'>[默认]</text>
            </view>
            <view>
                <image class='icon-delete' mode='widthFix' src='../../images/addressList/icon-delete.png' />
                <text>删除</text>
            </view>
        </view>
    </view>
    <view class="li">
        <view class='info-wrap'>
            <view class="own">
                <text class="name">代淼淼</text>
                <text class="phone">18572766668</text>
            </view>
            <view class="address">
                火星CHINA-A内仓129楼32层
            </view>
            <text class="des-line"></text>
        </view>
        <view class='modify-line'>
            <view>
                <text class=''>设为默认</text>
                <text class='default hide'>[默认]</text>
            </view>
            <view>
                <image class='icon-delete' mode='widthFix' src='../../images/addressList/icon-delete.png' />
                <text>删除</text>
            </view>
        </view>
    </view>
</view>