<loading class="{{ isLoading ? '' : 'hide' }}">加载中...</loading>


<view class="head-wrap">
    <view class="ul-column-wrap">
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-add-oil.png" />
            <view class="h2-li-txt">8.8折加油</view>
        </view>
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-tires.png" />
            <view class="h2-li-txt">免费轮胎</view>
            <image class='img-icon-hot' mode='widthFix' src='../../images/tabbar2/icon-hot.png' />
        </view>
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-substitution.png" />
            <view class="h2-li-txt">二手车置换</view>
        </view>
    </view>
    <view class="ul-column-wrap" style="margin-top: 30rpx;">
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-wash-car.png" />
            <view class="h2-li-txt">免费洗车</view>
        </view>
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-maintenance-tips.png" />
            <view class="h2-li-txt">免费保养</view>
        </view>
        <view class="li-column-item">
            <image class="img-car-btn" mode="widthFix" src="../../images/tabbar2/icon-beauty.png" />
            <view class="h2-li-txt">免费美容</view>
        </view>
    </view>
</view>

<view class=''>
    <view class="coupon-pannel">
        <view class="coupon-wrap">
            <view class="cou-pan-head">
                <image class="img-logo" mode="widthFix" src="../../images/tabbar2/icon-logo.png" />
                <view class="cou-pan-head-title">
                    <view>
                        <text>阿里汽车</text>
                        <text class="cou-des-dots">...</text>
                    </view>
                    <view class="cou-p-time">20分钟前</view>
                </view>
            </view>
            <view class="cou-content-part">
                <view>¥100元 全车洗车券</view>
                <view class="c-c-p-des">小主,您获得了一张洗车券</view>
            </view>
        </view>
        <view class="btn-use-coupon">立即使用</view>
    </view>
    <view class="coupon-pannel">
        <view class="coupon-wrap">
            <view class="cou-pan-head">
                <image class="img-logo" mode="widthFix" src="../../images/tabbar2/icon-logo.png" />
                <view class="cou-pan-head-title">
                    <view>
                        <text>阿里汽车</text>
                        <text class="cou-des-dots">...</text>
                    </view>
                    <view class="cou-p-time">20分钟前</view>
                </view>
            </view>
            <view class="cou-content-part">
                <view>¥100元 全车洗车券</view>
                <view class="c-c-p-des">小主,您获得了一张洗车券</view>
            </view>
        </view>
        <view class="btn-use-coupon">立即使用</view>
</view>
    <view class="coupon-pannel hide">
        <view class="coupon-wrap">
            <view class="cou-pan-head">
                <image class="img-logo" mode="widthFix" src="../../images/tabbar2/icon-logo.png" />
                <view class="cou-pan-head-title">
                    <view>
                        <text>阿里汽车</text>
                        <text class="cou-des-dots">...</text>
                    </view>
                    <view class="cou-p-time">20分钟前</view>
                </view>
            </view>
            <view class="cou-content-part">
                <view>¥100元 全车洗车券</view>
                <view class="c-c-p-des">小主,您获得了一张洗车券</view>
            </view>
        </view>
        <view class="btn-use-coupon">立即使用</view>
</view>
    <view class="coupon-pannel">
    <view class="coupon-wrap">
        <view class="cou-pan-head">
            <image class="img-logo" mode="widthFix" src="../../images/tabbar2/icon-logo.png" />
            <view class="cou-pan-head-title">
                <view>
                    <text>阿里汽车</text>
                    <text class="cou-des-dots">...</text>
                </view>
                <view class="cou-p-time">20分钟前</view>
            </view>
        </view>
        <view class="cou-content-part">
            <view>¥100元 全车洗车券</view>
            <view class="c-c-p-des">小主,您获得了一张洗车券</view>
        </view>
    </view>
    <view class="btn-use-coupon">立即使用</view>
</view>
</view>

<view class='empty-tips'>
    <view class='tips-head'>
        <image class="img-tips-logo" mode="widthFix" src="../../images/tabbar2/icon-logo.png" />
        <text>阿里汽车</text>
        <text class='tips-dots'>...</text>
    </view>
    <view class='tips-content'> 小主，您暂时还没有任何消息 </view>
</view>
