
<image class="b-t" mode="widthFix" src="../../images/addEditCarType/b-1.jpg"/>

<view class="ul">
    <view class="li">
        <text class="d-line-v"></text>
        <text class="b-title">车辆信息</text>
    </view>

    <view class="li">
        <navigator hover-class="none" open-type="redirect" url="/pages/carTypeDetail/carTypeDetail">
            <text class="b-title">请选择您的车型</text>
            <text class="ar-txt"></text>
            <text class="arrow-r"></text>
        </navigator>
    </view>
    <view class="li">
        <picker mode="date" value="{{date}}" start="2014-01-01" end="{{ endDate }}" bindchange="bindDateChange">
            <text class="b-title">初次登记时间</text>
            <text class="ar-txt">{{regTimeStr ? regTimeStr : ''}}</text>
        </picker>
        <text class="arrow-r"></text>
    </view>
    <view class="li" bindtap="focus">
        <text class="b-title">当前行驶里程</text>
        <text class="ar-txt">公里</text>
        <input class="mileage" type="digit" value="{{ mileage }}" bindinput="input" focus="{{ focus }}"/>
        <text class="arrow-r"></text>
    </view>


    <view class="li" bindtap="focus_price">
        <text class="b-title">购买金额</text>
        <text class="ar-txt">万</text>
        <input class="mileage" type="digit" value="{{ carTypePrice }}" bindinput="input_price" focus="{{ focus_pri }}"/>
        <text class="arrow-r"></text>
    </view>


    <view class="b-a">
        <view class="check-l">
            <label bindtap="switchRadio">
                <image class="icon" src="{{ selected ? radioActiveUrl : radioUrl }}" />
                <text>非运营车辆</text>
            </label>
            <label bindtap="switchDefault">
                <image class="icon" src="{{ setDefault ? radioActiveUrl : radioUrl }}" />
                <text>设置默认</text>
            </label>
        </view>

        <button class="btn-plan" bindtap="saveYBPlan">选择投保计划</button>
    </view>
</view>



