<view class='desc-content'>
    充值说明：总充值金额1000元，分10个月到账，每期到账100元

</view>

<view class="ul">
    <view class="header">
        <view class="h-itm">每月充值到账金额</view>
        <view class="h-itm">到账时间</view>
    </view>
    <view class="li">
        <view class="l-itm mny">1000 元 (1/24期)</view>
        <view class="l-itm ptm">支付后两小时内</view>
    </view>
    <view class="li">
        <view class="l-itm mny">1000 元 (2/24期)</view>
        <view class="l-itm ptm">2017-09-05</view>
    </view>
    <view class="li">
        <view class="l-itm mny">1000 元 (3/24期)</view>
        <view class="l-itm ptm">2017-10-05</view>
    </view>
</view>